
@import url('https://css.gg/sort-az.css');

.sort-btn{
  background-color: rgba(255, 255, 255, 0.623);
  box-shadow: 8px 15px 20px 2px rgb(0 0 0 / 20%)
}

.new-post-btn{
  width: 60px;
  height: 60px;
  background-color: rgba(174,221,205,255);

  position: sticky;
  bottom: 60px;
  left: 90%;
  margin-right: 13px;
  border-radius: 50px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);

}
svg{
  color: white
}


