
@import url('https://css.gg/arrow-up-o.css');
@import url('https://css.gg/arrow-down-o.css');

.card-head {
    box-shadow: 0 0px 5px 2px lightgray;
}

.avatar {
    height: 4rem;
    border: 3px solid gray;
    border-radius: 2rem;

}
